$bg-dark: #e6dfd1;
$bg-darker: hsl(41, 14%, 73%);
$bg-light: #efece6;
$text-primary: #404040;
$text-secondary: #707070;
$cyan: #c7efe7;
$yellow: #efe4bf;
$red: #e5c6c2;

$shadow: rgba(49, 49, 49, 0.341);

$radious: 10px;
