@import '../colors';

.contact-container {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    margin-top: 150px;
  }

  h3 {
    color: var(--text-primary);
    font-size: 2rem;
    margin-top: -20px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  .contact-email {
    font-size: 1rem;
    color: var(--text-secondary);

    @media (min-width: 768px) {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  .icons-container {
    margin-top: 30px;
    display: flex;
    gap: 8px;

    @media (min-width: 768px) {
      margin: 0;
    }

    a {
      color: var(--text-primary);
      transition: color 0.2s ease, transform 0.2s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      &:visited {
        color: var(--text-primary);
      }

      svg {
        transform: scale(1.5);
        width: 50px;
      }
    }
  }
}
