@import '../colors';

footer {
  display: grid;
  place-content: center;
  background-color: var(--text-primary);
  color: var(--bg-dark);
  transition: background-color 0.3s ease;

  span {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
}
