@import '../colors';

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.264);
    .modal-container {
        background-color: $bg-dark;
        height: calc(100vh - 3rem);
        margin: 15px;
        border-radius: $radious;
        border: 3px solid $text-secondary;
        max-width: 1000px;
        @media (min-width: 500px) {
            margin: 50px auto;
            height: calc(100vh - 10rem);
        }
        .state-bar-modal {
            height: 35px;
            border-bottom: 3px solid $text-secondary;
            display: flex;
            align-items: center;
            .bi-circle-fill {
                margin-left: 10px;
                fill: $red;
                stroke: $text-secondary;
                stroke-width: 1.5px;
            }
        }
    }
}
